/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
h1 {
    font-size: 40px;
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	
	 }

/* Write all remaining styles here */



* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.flex-container {
  height: 100vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.press-images::after {
    clear: both;
    display: table;
}

